.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


.p2{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.1em;
}

.p{
  color:white;
  /* font-family: 'Gugi', cursive; */
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.2em;
}
  
  h2 {
      background: rgba(0, 0, 0, 0.11);
  }
  
  .imgHome{
    height: 100vh;
  }

  .tarjeta{
    width: 18rem; 
    height:auto; 
    box-sizing:border-box;
  }

  .imag {
    color:white;
    background-color: rgba(22, 22, 22, 0.199);
  }

  .fotos{
    width: 300px;
    height: auto;
  }

  @media only screen and (max-width: 768px)  {
    img{
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
    h1{
      font-size: 22px;
    }
    p{
      font-size: 15px;
    }
  }
  
  @media only screen and (max-width: 640px) {
    img{
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
  }
