.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h2 {
      background: rgba(0, 0, 0, 0.11);
  }
  
  .imgHome{
    height: 100vh;
  }

  .tarjeta{
    width: 18rem; 
    height:auto; 
    box-sizing:border-box;
  }
